<main class="contenedor">
    {{#if exito}}
        <div class="alerta">{{exito}}</div>
    {{/if}}
    {{#if error}}
        <div class="error alerta">{{error}}</div>
    {{/if}}
    <form method="POST" class="default-form">
        <div class="campo">
            <label for="">Nuevo Password</label>
            <input type="password" name="password" placeholder="Tu Nuevo Password">
        </div>
        <div class="campo">
            <label for="">Repite Password</label>
            <input type="password" name="repitePassword" placeholder="Repite tu Password">
        </div>
        <div class="campo">
            <input type="submit" value="Guardar password" class="btn btn-azul">
        </div>
    </form>
</main>